:root {
    --golden-gradient: linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);
    --white-color: #ffffff;
    --light-ash-color: rgba(172, 178, 188, 0.3);
    --dark-ash-color: #666666;
    --text-godern: #B18B26 79.92%;
    --verticale-mood-color: #ACB2BC;
    
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
     /* font-family: 'Lato', sans-serif; */
     overflow-x: hidden;
  }

  /* Home page Start */
  
/* Hamburger Manu start */
 .login-btn{ 
width: 113px;
height: 37px;
border: none;
border-radius: 8px;
margin-left: 70px;
color: #ffffff;
font-weight: 600;
background: transparent;
 }
 .signup-btn{
  width: 113px;
  height: 37px;
  border: none;
  border-radius: 8px;
  margin-right: 15px;
  color: #ffffff;
  font-weight: 600;
  background: transparent;
 
 } 
 .navbar.logo.login-btn a{
  color: #fff;
 }
 .login-btn:hover{
  background-image: var(--golden-gradient);
  color: #fff;
 }
  .signup-btn:hover{
  background-image: var(--golden-gradient);
  color: #fff;
 } 

 /* New Hamburger manu */
 .container-1 {
  /* max-width: 1050px; */
  width: 100%;
  margin: auto;
  z-index: 12;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  padding-top: 0!important;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  background: -webkit-linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
  
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: goldenrod;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
  
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
  
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
 
}

.navbar .menu-items {
  padding-top: 120px;
  /* box-shadow: 0 0 200px goldenrod; */
  background: #FAF7E9;
  height: 100vh;
  width: 50%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  /* margin-left: -40px;
  padding-left: 50px; */
  transition: transform 0.5s ease-in-out;
  text-align: center;
  z-index: 1;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  /* top: 5px; */
  right: 15px;
  z-index: -1;
  
}
.logo-size{
  width: 300px;
  height: 60px;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: block;
}

/* Hamburger Manu end */


  /* Header section Start */
  #background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  }

  .banner-text{
    opacity: .8;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 15% 32px;
    line-height: 1.5;
    text-align: center;
    background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
  }
  .banner-text h5{
     font-family: 'Lato', sans-serif;
     font-weight: 300;
     color: #fff;
     font-size: 45px;
     z-index: 2;
  }
  .banner-text h1{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 55px;
    z-index: 2;
  }

  .booking-btn{
    padding: 15px 30px;
    background-image: linear-gradient(108.08deg, #CAAC26, #B18B26);
    color: #fff;
    top: 0;
    right: 0;
    margin-top: -40px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin-right: 10px;
    border-radius: 50px;
    
  }
  .explore-now{
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    margin-top: 80px;
  }
   /* Header section End */

   /* Feature Section Start */
   .package-img{
    width: 450px;
    height: 330px;
   }
   .section-headline-p{  
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #666666;
   }

   .verticl-mode{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-right: 7px;
    color: var(--verticale-mood-color);
   }
  
   .feature-bg{
    background-image: url(assets/feature/feature-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
   }
   .feature-text-align{
    margin-left: 10%;
    margin-bottom: 100px;
   }
   .feature-heading{
    font-size: 40px;
    font-weight: 700;
    background: -webkit-linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
   }
   .shadow-text{
    color: rgba(172, 178, 188, 0.3);
    font-weight: 700;
    font-size: 80px;
    margin-left: 13%;
    margin-top: -80px;
    position: absolute;
   }
   .package-bg{
    margin-left: 95%;
    right: 0;
    top: 0;
    margin-top: -50px;
    width: 280px;
    height: 170px;
   }
   .vertical {
    border-left: 4px;
    border-style: solid;
    border-image: linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%) 1;
    height: 100px;
    position:absolute;
    left: 12%;
  }
  .hover-animation{
    transition: all 2s ease-in-out;
    cursor: pointer;
    /* position: relative; */
}
.overlay-1 {
  /* position: absolute;  */
  background: rgba(57, 57, 57, 0.5);
  
  
  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.overlay-2 {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}
.hover-animation:hover{
    
    transform: scale(1.1);
}

  .view-more{
   
   margin-top: 60px;
  }
  .view-more-btn{
    background-image: var(--golden-gradient);
    color: #fff;
    width: 197px;
    height: 45.09px;
    border: none;
    
  }
  .text-design{
    color: #fff;
    
  }
   /* Feature Section End */

   /* Feature Product Section Start*/
   .product{
    margin-top: 80px;
   }
   .bhd-price{
    font-weight: 700;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
   }
   .product-title{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
   }
   .discount-price{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #9CA3AF;
   }
   .orders{
    font-weight: 400;
    font-size: 16px;
   }
   .heart{
    background: rgba(0, 0, 0, 0.3);
    width: 48px;
    height: 48px;
    right: 16px;
    position: absolute;
    top: 16px;
   
   }
   .heart img{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
   }
   .new-arrival-btn{
    width: 95px;
    height: 30px;
    background: #000;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    border: none;
    outline: none;
   }
   /* Feature Product Section End*/


/* Glimpse Video Section Start */
.glimpse-video-section{
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 130px;
  
}

.glimpse-video-section video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  margin-top: 80px;
}

.glimps-section{
  margin-top: 100px;
}

.glimpse-text-align{
  margin-left: 15%;
  /* margin-bottom: 50px; */
}
/* .glimpse-text-align p{
  margin-top: 50px;
} */
.vertical-2{
  border-left: 4px;
  border-style: solid;
  border-image: linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%) 1;
    height: 100px;
    position:absolute;
    left: 12%;
}
/* Glimpse Video Section End */


/* Gallery Section Start */

.gallery-section{
  width: 100%;
  height: 520px;
  margin-top: 320px;
  /* margin-bottom: 100px; */
}
.img-size{
  width: 456px;
height: 270px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}
.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay{
  opacity: 1;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details p{
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  font-family: 'Lato', sans-serif; 
}
.content-details a{
  text-decoration: none;
}

.fadeIn-left{
  left: 20%;
}
.gallery-text-align{
  margin-bottom: 80px;
  margin-left: 15%;
}

/* Gallery Section End */


/* Health Section Start */
.row.justify-content-center > .health-col {
  flex: 0 0 14.28%;
  max-width: 14.28%; 
  margin-top: 30px; 
}

.health-section{
  margin-top: 100px;
  background-image: linear-gradient(108.08deg, rgba(202, 172, 38, 0.1) 17.48%, rgba(245, 229, 144, 0.1) 36.87%, rgba(177, 139, 38, 0.1) 79.92%);
  height: 800px;
  width: 100%;
  padding-top: 50px;
 
 
  
}

.health-section h5{
  background: -webkit-linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
hr{
  margin: 0!important;
}
.hr-line-bg{
  padding: 2px;
  background: #B18B26 79.92%;
background: linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);

}


.health-section h2{
  background: -webkit-linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.health-text-align{
  margin-left: 15%;
  margin-top: 80px;
}
.vertical-3{
  border-left: 4px;
  border-style: solid;
  border-image: linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%) 1;
    height: 100px;
    position:absolute;
    left: 12%;
    margin-top: 80px;
}
/* Health Section End */

/* Track Your Order Section Start */
.track-btn{
 padding: 15px 30px;
  background-image: var(--golden-gradient);
  color: #fff;
  border: none;
  margin-top: 50px;
  font-weight: 600;
font-size: 24px;
border-radius: 2px;
 
}
input[type="text"] {
  display: block;
  margin: 0 auto;
  width: 603px;
height: 62px;
background: #F5F5F5;
border-radius: 5px;
border: none;
padding: 20px;
}
.track-section form{
  margin-top: -50px;
}
.track-bg{
  margin-left: 85%;
  right: 0;
  top: 0;
  margin-top: -80px;
  width: 280px;
  height: 170px;
}

.track-section h2{
  background: -webkit-linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: 80px;
}
/* Track Your Order Section End */

/* footer Section start */

  footer a {
  text-decoration: none;
  color: #000;
} 
.footer-img img{
  width: 13px;
  height: 11px;
}
.footer-img img:first-child{
  margin-top: 5px;
}
.footer-bg{
  background: #F9F6EC;
  padding-top: 55px;
  padding-bottom: 50px;
}
footer form {
  margin-left: 20px;
  margin-top: 50px;
  margin-right: 50px;
}

footer form input {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  border: none;
  width: 190px;
  max-height: 40.11px !important;
  color: #000000;
  outline: 0;
  
}
.footer-logo{
  margin-left: -60px;
  width: 300px;
height: 65.65px;
}
footer form .submit-btn {
  background: var(--golden-gradient);
  padding: 8px 30px;
  border: 0;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  width: 50%;
} 

.social-icon .ri-facebook-circle-fill,
 .ri-youtube-fill,
 .ri-twitter-fill,
 .ri-linkedin-box-fill

 {
  font-size: 30px;
  /* background-image: linear-gradient(180deg, #CBAD27 0%, #C09F26 52.08%, #B28C27 100%); */
  color: goldenrod;
} 
.social-icon li a{
  text-decoration: none;
}
.social-icon li{
  margin-right: 32px;
}

.get-touch{
  font-weight: 600;
  font-size: 25px;
  text-align: right;
  text-transform: uppercase;
  color: #222222;
  font-family: 'Lato', sans-serif;
 
}
ul li a:hover{
color: rgba(34, 34, 34, 0.7);
}
  
.footer-design{
  display: grid;
  gap: 30px;
  grid-template-columns : repeat(4,1fr);
 
}
.get-touch-p{
  text-align: right;
}
.get-touch-footer{
  max-width: 400px;
}
/* footer Section end */



 /* Home page End */

 /*====================================================================================*/

/* About Page Start */
 /* Backgroud Image setup */
 #background-images{
  background-image:url('assets/about-page/about-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
 }

 /* Who we are section start */
 .video-size
 {
  height:auto;
  width:100%;
  overflow:hidden;
 }
 .video-size > video {
  min-width: 100%;
  min-height: 100%;
}
 .about-text-title{
  font-family: 'Lato', sans-serif; 
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: rgba(34, 34, 34, 0.9);
 }
 .about-text-p{
   font-family: 'Lato', sans-serif; 
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: rgba(34, 34, 34, 0.9);

 }
 .margin-r{
  margin-right: 7px;
 }
 .about-us{
  font-family: 'Lato', sans-serif; 
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(34, 34, 34, 0.9);
  margin-top: 13px;
 }
 .who-we-are{
  background: -webkit-linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Lato', sans-serif; 
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  margin-top: 30px;
  
 }
 .about-title{
  font-family: 'Lato', sans-serif; 
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: rgba(34, 34, 34, 0.9);
  margin-top: 80px;
 }

  /* Who we are section end */

 /* Book a appoint Section Start */
.book-btn{
  width: 236px;
  height: 72px;
  background-image: var(--golden-gradient);
  color: #fff;
  border: none;
  margin-top: 50px;
  font-weight: 600;
font-size: 24px;
border-radius: 2px;
 
}
.book-text-color{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  background: -webkit-linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


text-transform: uppercase;
}
input[type="text"] {
  display: block;
  margin: 0 auto;
  width: 603px;
height: 62px;
background: #F5F5F5;
border-radius: 5px;
border: none;
padding: 20px;
}

.appointment-section{
  margin-top: 100px;
}

/* Book a appoint Section end */

/* Recommanded Section Start */
.recommand-text-align{
  margin-left: 8%;
  margin-bottom: 100px;
 }
 .recommand-heading{
  font-size: 40px;
  font-weight: 700;
  background: -webkit-linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
 }
 .vertical {
  border-left: 4px;
  border-style: solid;
  border-image: linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%) 1;
  height: 100px;
  position:absolute;
  left: 12%;
}
/* Recommanded Section End */
/* About Page End */

/*====================================================================================*/

/* Why Srisoukya Ayurvedic Center Start */
/* Backgroud Image setup */
#background-images{
  background-image:url('assets/why-ayurveda-page/ayurveda-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
 }

 .who-we-are-section{
  margin-top: 80px;
  margin-right: 20px;
}
 .service-text-title{
  font-family: 'Lato', sans-serif; 
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: -webkit-linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }
 .service-text-p{
   font-family: 'Lato', sans-serif; 
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;

 }
 .margin-r{
  margin-right: 7px;
 }
 .about-ayurveda{
  
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;;
  margin-top: 37px;
  line-height: 24px;
 }
 .why-ayurveda-title{
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: rgba(34, 34, 34, 0.9);
  margin-top: 76px;
  
 }
 .about-title{
  font-family: 'Lato', sans-serif; 
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: rgba(34, 34, 34, 0.9);
  margin-top: 80px;
 }

  /* Why Ayurvedia section end */

  /* Why Srisoukya section start */
  .why-srisoukya-title{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    margin-top: 80px;
    color: rgba(34, 34, 34, 0.9);
  }
  .why-srisoukya-text-title{
    font-family: 'Lato', sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: rgba(34, 34, 34, 0.9);
  }
  .why-srisoukya-text-p{
    font-family: 'Lato', sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 16px;
    color: rgba(34, 34, 34, 0.9);
  }
  .text-margin-right{
    margin-left: 8px;
  }
  .text-margin-right p{
    width: 200px;
  }
  .text-margin-right h5{
    width: 300px;
  }
  .icon-margin-left{
   text-align: right;
   margin-right: 10px;
   
  }
  .icon-margin-left p{
   margin-left: 140px;
   width: 200px;
   
  }
  
  .right-design img{
    margin-left: 97px!important;
    margin-top: -4px;
  }
  .big-logo{
    width: 1130px;
height: 240px;
  }
  .icon-margin-right-2{
    margin-top: -40px;
    margin-left: -12px;
  }
  .text-margin-right-2{
    margin-top: -40px;
    margin-left: 10px;
  }
  .text-margin-right-2 p{
    width: 200px;
  }
  .text-margin-right-2 h5{
    width: 300px;
  }
  .icon-margin-left-2{
     margin-top: -50px;
   
    
  }
  .icon-margin-left-2 p{
    margin-left: 53px;
  }
  .right-design-3 img{
    margin-left: 10px!important;
    margin-top: -4px;
  }
  .icon-margin-left-2 p{
    width: 200px;
    text-align: right;
  }
  .right-design-4{
    margin-top: -40px;
  }
/* Book a appoint Section Start */
.book-btn{
  width: 236px;
  height: 72px;
  background-image: var(--golden-gradient);
  color: #fff;
  border: none;
  margin-top: 50px;
  font-weight: 600;
font-size: 24px;
border-radius: 2px;
 
}
.book-text-color{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  background: -webkit-linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


text-transform: uppercase;
}
input[type="text"] {
  display: block;
  margin: 0 auto;
  width: 603px;
height: 62px;
background: #F5F5F5;
border-radius: 5px;
border: none;
padding: 20px;
}

.appointment-section{
  margin-top: 100px;
}

/* Book a appoint Section end */

/* Image Grid System apply */
.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  margin-left: 20px;
  margin-top: 20px;
}


.item-1{
   grid-row: 1 / span 1; 
   grid-column: 1 / span 1; 
   
}
.item-2{
   grid-row: 2 / span 1; 
   grid-column: 1 / span 1; 
}
.item-3{
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
}

form select {
  display: block;
  margin: 0 auto;
  width: 603px;
height: 62px;
background: #F5F5F5!important;
border-radius: 5px;
border: 0!important;
padding: 20px;


}
/* Why Srisoukya Ayurvedic Center End */

/*====================================================================================*/

/* Ayurvedic Consultation Center Start */
 /* Backgroud Image setup */
 #consultation-background-images{
  background-image:url('assets/ayurvedic-consultation/cosultation-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
 }
 .consultation-content{
  font-family: 'Lato', sans-serif; 
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;
padding: 30px;
 }
 .consultation-content-bg{
  background: #F9F6EC;
border-radius: 0px 10px 10px 0px;
 }
 .consultation-section{
  margin-top: 80px;
  /* margin-right: 20px; */
 }
 .goal-img img{
  margin-left: 50px;
 }
 .elements-bg{
  background: #F9F6EC;
  border-radius: 0px 10px 10px 0px;
 
 }
 .elements img{
  width: 550px;
  height: 270px;
 }
/* Ayurvedic Consultation Center End */

/*==================================================================================*/

/* Responsive Design for home page start */
@media only screen and (max-width: 992px){
 
  /* Hamburger Menu start */
  html,body {
    /* max-width: 992px; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: auto;

  }
.back-video{
  display: none;
}
.logo-size{
  width: 240px;
  height: 50px;
  margin-right: 180px;
}
.login-btn,
.signup-btn {
display: none;
}
.navbar .menu-items {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 300px;
  transform: translateX(-100%);
 
}
.table-img{
  display: block;
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.logo {
  margin-top: 10px;
  position: absolute;
  /* top: 5px; */
  right: 15px;
  z-index: -1;
  
}

/* For package section */
/* .feature-bg{
  margin-left: -50px;
} */
.container{
  margin: 0 auto;
  width: 100%;
}
.feature-heading{
  font-weight: 600;
font-size: 26.442px;
}
.section-headline-p{
  font-weight: 400;
font-size: 13.221px;
}
.vertical {
  border-left: 3px;
  height: 70px;
  left: 8%;
  /* position:relative; */

}
.feature-text-align {
  margin-left: 12%;
  margin-bottom: 100px;
}
.package-img{
  width: 370px;
  height: 230px;
} 
.package-bg {
  margin-left: 80%;
  right: 0;
  top: 0;
  margin-top: -50px;
  width: 130px;
  height: 140px;
}
.shadow-text {
  
  font-size: 60px;
  margin-left: 13%;
  margin-top: -55px;
  
}

/* Feature product section start */
.carousel-item .container-sm {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
}
.carousel-item .card-size {
  flex-basis: calc(33% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}
.carousel-item .card-size:last-child {
  /* margin-right: 0; */
  display: none;
}

/* new arrival */
.tablet-responsive{
  margin-top: 30px;
}
/* Gallery Section */


.gallery-section {
  margin-top: 225px;
  
}

.gallery-margin {
  margin-right: 30px;
  margin-left: 30px;
}
.row.justify-content-center > .health-col {
  flex: 0 0 22%;
  max-width: 22%;
  width: 100%;
} 
.health-section h5 {
  font-size: 25px;
  margin-top: 20px;

}
.health-col img{
  width: 80px;
  height: 80px;
}
.consultant-area{
  margin-top: 30px;
  margin-bottom: 90px;
  /* height: auto; */
}
.health-section {
  height: 855px;
}
.track-section h2{
  font-size: 40px;
    margin-top: 40px;
}
input[type="text"] {
  
  width: 374.77px;
height: 53.27px;
 
}
.track-btn{
  padding: 12px 25px;
  font-size: 20px;
}

/* footer start */

.footer-logo{
  width: 463px;
  height: 165px;
  margin-bottom: 0;
  margin-left: 5%;
}
/* .footer-logo p{
  text-align: left;
} */
.social-icon .ri-facebook-circle-fill, .ri-youtube-fill, .ri-twitter-fill, .ri-linkedin-box-fill{
  font-size: 40px;
}
ul li{
  font-size: 20px;
  color: rgba(34, 34, 34, 0.7);
}
.footer-title{
  font-weight: 700;
font-size: 27px;
font-family: 'Lato', sans-serif;
color: #222222;
}
.footer-img span{
  font-size: 14px;
  color: rgba(34, 34, 34, 0.7);
}
/* .footer-img img:first-child{
  margin-top: 10px;
} */
.get-touch{
  font-weight: 600;
font-size: 20px;
margin-top: 20px;
}
/* form .footer-input{
  justify-content: center;
} */

 .footer-design{
  display: grid;
  grid-template-columns: 1fr; /* one column in first row */
  grid-template-rows: auto auto auto; /* three rows */
  gap: 10px; /* spacing between grid items */
  /* align-items: center; */
}
.footer-item-1{
  grid-row: 1 / span 1; /* first row */
  text-align: center;
  justify-content: start;
  width: 400px;
  align-items: center;
}
.footer-item-1 p{
  text-align: left;
  margin-left: 36%;
  margin-top: -25px;
  font-size: 20px;
}
.footer-item-2{
  grid-row: 2 / span 1; /* second row */
  grid-column: 1 / span 1; /* first column in second row */
  margin-left: 32%;
  align-items: center;
 
}
.footer-item-3{
  grid-row: 1 / span 1; /* second row */
  grid-column: 2 / span 1; /* second column in second row */
  /* margin-right: 20%; */
  width: 500px;
  align-items: center;
  margin-top: 20px;
  
}
.footer-item-4{
  grid-row: 2 / span 1; /* third row */
  /* display: flex; */
  justify-content: end;
  width: 400px;
  margin-left: -20px;
  align-items: center;
  
 
}
/* .item{
  text-align: center;
}   */
 .social-icon{
  margin-left: 35%;
  margin-top: -20px;
}  
.social-icon li{
  margin-right: 12px;
}
.footer-img span{
  font-size: 18px;
}
.footer-img img:not(:first-child){
  margin-top: -20px;
}
.footer-rights{
  margin: 0 auto;
  /* width: 800px; */
  margin-left: 70%;
  width: 300px;
  margin-top: 30px;
}
}

@media only screen and (max-width: 768px){
  .banner-text h1{
    font-size: 35px;
  }
  .banner-text h5{
    font-size: 30px;
  }
  .feature-text-align{
    margin-left: 10%;
  }
  .package-bg{
   
    /* margin-top: -50px; */
    width: 100px;
    height: 120px;
  }
  .shadow-text{
    font-size: 50px;
    margin-top: -45px;
  }
  .package-img {
    width: 280px;
    height: 230px;
}
.footer-logo{
  width: 353px;
  height: 145px;
  margin-bottom: 0;
  margin-left: -20px;
}
.social-icon .ri-facebook-circle-fill, .ri-youtube-fill, .ri-twitter-fill, .ri-linkedin-box-fill{
  font-size: 30px;
}
.footer-img span{
  font-size: 15px;
  
}
.footer-item-1{
  grid-row: 1 / span 1; /* first row */
  text-align: center;
  justify-content: start;
  width: 300px;
  align-items: center;
}
.footer-item-1 p{
 
  margin-left: 25%;
  
  font-size: 18px;
}
.social-icon{
  margin-left: 24%;
  margin-top: -20px;
}  
.footer-item-3{
  grid-row: 1 / span 1; /* second row */
  grid-column: 2 / span 1; /* second column in second row */
  /* margin-right: 20%; */
  width: 400px;
  align-items: center;
  margin-top: 40px;
  
}
.footer-item-4{
  grid-row: 2 / span 1; /* third row */
  /* display: flex; */
  justify-content: end;
  width: 300px;
  
  align-items: center;
  
}
.footer-item-2{
  grid-row: 2 / span 1; /* second row */
  grid-column: 1 / span 1; /* first column in second row */
  margin-left: 25%;
  align-items: center;
  width: 300px;
 
}
.footer-rights{
  margin: 0 auto;
  /* width: 800px; */
  margin-left: 70%;
  width: 300px;
  margin-top: 30px;
}
/* .footer-item-4 h5{
  margin-left: 50px;
} */
}

@media only screen and (max-width: 576px){
  
  /* .footer-bg{
    display: none;
  } */
  .logo-size{
    width: 200px;
    height: 45px;
    margin-right: 50px;
  }
  .booking-btn{
    padding: 8px 18px;
    font-size: 12px;
  }
  .banner-text h1{
    font-size: 25px;
  }
  .banner-text h5{
    font-size: 22px;
  }
  .package-img {
    width: 400px;
    height: 230px;
    
}
.mobile-design{
  margin-bottom: 20px;
}


.carousel-item .container-sm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.carousel-item .card-size {
  flex-basis: calc(43% - 5px);
  margin-right: 5px;
  margin-bottom: 10px;
}
.carousel-item .card-size:nth-child(3) {
  margin-right: 0;
  display: none;
}
.new-arrival-btn{
  width: 80px;
  height: 25px;
}
.row-cols-3 > div {
  flex: 0 0 45%;
  max-width: 50%;
  
}
.row-cols-3 > div:first-child,
.row-cols-3 > div:last-child {
  margin-left: 10px;
  margin-right: 10px;}

  /* .health-section{
    margin-top: 500px;
  } */
  /* .content .content-overlay{
    width: 50%;
  } */
  .gallery-img{
    margin-bottom: 15px;
  }

  .consultant-area{
    /* margin-top: 50px; */
  }
  /* .vertical {
    position: fixed;
  } */
  .gallery-section {
    margin-bottom: 450px;
}

.health-text-align {
  
    margin-top: 20px;
}
.vertical-3{
  border-left: 4px;
  height: 60px;
  left: 12%;
    margin-top: 25px;
}


.footer-item-1{
 
  width: 200px;
  align-items: center;
}
.footer-logo{
  width: 273px;
  height: 130px;
  margin-bottom: 0;
  margin-left: -20px;
}
.footer-item-3{
  width: 180px;
  align-items: center;
  margin-top: 40px;
  
}
.footer-item-2{
 
  margin-left: 55%;
  align-items: center;
  width: 300px;
 
}
.footer-item-4{
  grid-row: 3 / span 1; /* third row */
  justify-content: center;
  width: 300px;
  margin-left: 25%;
  align-items: center;
  
}
.footer-rights{
display: none;
}
}
/* Responsive Design for home page end */




   