:root {
    --golden-gradient: linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);
    --white-color: #ffffff;
    --light-ash-color: rgba(172, 178, 188, 0.3);
    --dark-ash-color: #666666;
    --text-godern: #B18B26 79.92%;
    --verticale-mood-color: #ACB2BC;
    
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
     /* font-family: 'Lato', sans-serif; */
     overflow-x: hidden;
  }
/* Hamburger Manu start */
.login-btn{ 
    width: 113px;
    height: 37px;
    border: none;
    border-radius: 8px;
    margin-left: 70px;
    color: #ffffff;
    font-weight: 600;
    background: transparent;
     }
     .signup-btn{
      width: 113px;
      height: 37px;
      border: none;
      border-radius: 8px;
      margin-right: 15px;
      color: #ffffff;
      font-weight: 600;
      background: transparent;
     
     } 
     .navbar.logo.login-btn a{
      color: #fff;
     }
     .login-btn:hover{
      background-image: var(--golden-gradient);
      color: #fff;
     }
      .signup-btn:hover{
      background-image: var(--golden-gradient);
      color: #fff;
     } 
    
     /* New Hamburger manu */
     .container {
      max-width: 1050px;
      width: 90%;
      margin: auto;
    }
    
    .navbar {
      width: 100%;
      box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
      padding-top: 0;
    }
    
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 62px;
    }
    
    .navbar .menu-items {
      display: flex;
    }
    
    .navbar .nav-container li {
      list-style: none;
    }
    
    .navbar .nav-container a {
      text-decoration: none;
      color: goldenrod;
      font-weight: 500;
      font-size: 1.5rem;
      padding: 0.7rem;
    }
    
    .navbar .nav-container a:hover{
        font-weight: bolder;
    }
    
    .nav-container {
      display: block;
      position: relative;
      height: 60px;
    }
    
    .nav-container .checkbox {
      position: absolute;
      display: block;
      height: 32px;
      width: 32px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
      
    }
    
    .nav-container .hamburger-lines {
      display: block;
      height: 26px;
      width: 32px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
     
    }
    
    .nav-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: goldenrod;
    }
    
    .nav-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
      
    }
    
    .nav-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
      
    }
    
    .nav-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
     
    }
    
    .navbar .menu-items {
      padding-top: 120px;
      /* box-shadow: 0 0 200px goldenrod; */
      background: #0F3325;
      height: 100vh;
      width: 50%;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      /* margin-left: -40px;
      padding-left: 50px; */
      transition: transform 0.5s ease-in-out;
      text-align: center;
      z-index: 1;
    }
    
    .navbar .menu-items li {
      margin-bottom: 1.2rem;
      font-size: 1.5rem;
      font-weight: 500;
    }
    
    .logo {
      position: absolute;
      top: 5px;
      right: 15px;
      z-index: 1;
      
    }
    
    .nav-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .logo{
      display: block;
    }
    
    /* Hamburger Manu end */

     /* About page Start */
 /* Backgroud Image setup */
 #background-images{
    background-image:url('assets/why-ayurveda-page/ayurveda-bg.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100%;
   }
   
  .banner-text{
    opacity: .8;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 15% 32px;
    line-height: 1.5;
    text-align: center;
    /* background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)); */
  }
  .banner-text h5{
     font-family: 'Lato', sans-serif;
     font-weight: 300;
     color: #fff;
     font-size: 45px;
     z-index: 2;
  }
  .banner-text h1{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 55px;
    z-index: 2;
  }

  .booking-btn{
    width: 236px;
    height: 72px;
    background-image: linear-gradient(108.08deg, #CAAC26, #B18B26);
    color: #fff;
    top: 0;
    right: 0;
    margin-top: -40px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-right: -115px;
    border-radius: 50px;
  }
  .explore-now{
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    margin-top: 80px;
  }
  
   /* Who we are section start */
   .video-size
   {
    height:auto;
    width:100%;
    overflow:hidden;
   }
   .video-size > video {
    min-width: 100%;
    min-height: 100%;
}
   .about-text-title{
    font-family: 'Lato', sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: rgba(34, 34, 34, 0.9);
   }
   .about-text-p{
     font-family: 'Lato', sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: rgba(34, 34, 34, 0.9);

   }
   .margin-r{
    margin-right: 7px;
   }
   .about-us{
    font-family: 'Lato', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(34, 34, 34, 0.9);
    margin-top: 13px;
   }
   .who-we-are{
    background: -webkit-linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lato', sans-serif; 
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    margin-top: 30px;
    
   }
   .about-title{
    font-family: 'Lato', sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: rgba(34, 34, 34, 0.9);
    margin-top: 80px;
   }

    /* Who we are section end */

   /* Book a appoint Section Start */
.book-btn{
    width: 236px;
    height: 72px;
    background-image: var(--golden-gradient);
    color: #fff;
    border: none;
    margin-top: 50px;
    font-weight: 600;
  font-size: 24px;
  border-radius: 2px;
   
  }
  .book-text-color{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    background: -webkit-linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


text-transform: uppercase;
  }
  input[type="text"] {
    display: block;
    margin: 0 auto;
    width: 603px;
  height: 62px;
  background: #F5F5F5;
  border-radius: 5px;
  border: none;
  padding: 20px;
  }

  .appointment-section{
    margin-top: 100px;
  }
 
 /* Book a appoint Section end */

 /* Feature Product Section Start*/
 .product{
    margin-top: 80px;
   }
   .bhd-price{
    font-weight: 700;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
   }
   .product-title{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
   }
   .discount-price{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #9CA3AF;
   }
   .orders{
    font-weight: 400;
    font-size: 16px;
   }
   .heart{
    background: rgba(0, 0, 0, 0.3);
    width: 48px;
    height: 48px;
    right: 16px;
    position: absolute;
    top: 16px;
   
   }
   .heart img{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
   }
   .new-arrival-btn{
    width: 95px;
    height: 30px;
    background: #000;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    border: none;
    outline: none;
   }
   .recommand-text-align{
    margin-left: 8%;
    margin-bottom: 100px;
   }
   .recommand-heading{
    font-size: 40px;
    font-weight: 700;
    background: -webkit-linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
   }
   .vertical {
    border-left: 4px;
    border-style: solid;
    border-image: linear-gradient(108.08deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%) 1;
    height: 100px;
    position:absolute;
    left: 12%;
  }
   /* Feature Product Section End*/

   .image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

/* .image-grid>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
} */

/* .item{
    border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
} */
.item-1{
     grid-row: 1 / span 1; 
     grid-column: 1 / span 1; 
     
}
.item-2{
     grid-row: 2 / span 1; 
     grid-column: 1 / span 1; 
}
.item-3{
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
}

  
  

   /* footer Section start */
footer {
    background: #F9F6EC;;
    color: #000;
    margin-top: 100px;
    padding: 70px 0;
  }
  
    footer a {
    text-decoration: none;
    color: #000;
  } 
  
  .footer-bg{
    background: #F9F6EC;
    padding-top: 65px;
    padding-bottom: 78px;
  }
  footer form {
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 50px;
  }
  
  footer form input {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    border: none;
    width: 190px;
    max-height: 40.11px !important;
    color: #000000;
    outline: 0;
    
  }
  
  footer form .submit-btn {
    background: var(--golden-gradient);
    padding: 8px 30px;
    border: 0;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    width: 50%;
  } 
  
  .social-icon .ri-facebook-circle-fill,
   .ri-youtube-fill,
   .ri-twitter-fill,
   .ri-linkedin-box-fill
  
   {
    font-size: 30px;
    /* background-image: linear-gradient(180deg, #CBAD27 0%, #C09F26 52.08%, #B28C27 100%); */
    color: goldenrod;
  } 
  .social-icon li a{
    text-decoration: none;
  }
  .social-icon li{
    margin-right: 32px;
  }
  
  .get-touch{
    font-weight: 600;
    font-size: 25px;
    text-align: right;
    text-transform: uppercase;
    color: #222222;
    font-family: 'Lato', sans-serif;
   
  }
  ul li a:hover{
  color: rgba(34, 34, 34, 0.7);
  }
    
  /* footer Section end */
  

  /* About page End */